.employee-list {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
body {
  background-color: #1b1b1b;
}
h2 {
  text-align: center;
  font-size: 1.8rem;
}

.table-container {
  overflow-x: auto; /* Enables horizontal scrolling for small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #af1212;
  color: white;
}

.action_edit {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
}
.table-cell {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.reset-button {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 12px 20px;
  background-color: #f44336; /* Red color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.reset-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
  transform: scale(1.05);
}

.reset-button:active {
  transform: scale(0.95);
}

.print-button {
  margin-top: 5px;
  /* margin-bottom: 8px; */
  padding: 10px 20px;
  background-color: #b7b7b7; /* Red color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.print-button:hover {
  background-color: #8d8d8d; /* Darker red on hover */
  transform: scale(1.05);
}

.print-button:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .reset-button {
    width: 100%; /* Full width on small screens */
    padding: 15px;
    font-size: 18px;
  }
  .print-button {
    width: 95%; /* Full width on small screens */
    padding: 11px 13px;
    margin-left: 9px;
    margin-bottom: 16px;
    font-size: 18px;
  }
}

/* Responsive Design */
@media (max-width: 600px) {
  th,
  td {
    padding: 10px;
    font-size: 0.7rem;
  }
  .employee-list {
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 370px;
  }
  .employee-list p {
    font-size: 16px;
  }
  .employee-list span {
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  table {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-hidden {
    display: none !important;
  }
  .print-area,
  .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
  }
}
